<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEI - MAPPING PROJECTION</title>
    <style>
        body {
            background: black;
        }
    </style>
</head>
<body>
<img id="img0" src="{{url_for('static', filename='img/test_image.jpg') }}" alt="image test 1"/>
<img id="img1" src="{{url_for('static', filename='img/test_image.jpg') }}" alt="image test 2"/>
<img id="img2" src="{{url_for('static', filename='img/test_image.jpg') }}" alt="image test 3"/>

<button onclick="sendPoints()">Envoie</button>

<script src="{{ url_for('static', filename='js/maptastic.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script>
    const mappingConfig = {{ configs | tojson | safe }};
    const maptastic = new Maptastic({
        'autoLoad': false,
        'autoSave': false,
        'layers': getLayers(),
        'onchange': () => {
            sendPoints()
        }
    });

    function sendPoints() {
        const mPoints = [];
        maptastic.getLayout().forEach((value) =>
            mPoints.push(value['targetPoints'])
        );

        const data = {
            'width': $(window).width(),
            'heigth': $(window).height(),
            'points': mPoints
        };

        $.ajax({
            url: '/sendPoints',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log("points sent successful");
            },
            data: JSON.stringify(data)
        });
    }

    function getLayers() {
        if (mappingConfig != null) {
            const res = [];
            mappingConfig['points'].forEach((coords, index) => {
                res.push({
                    'id': 'img' + index,
                    'sourcePoints': coords,
                    'targetPoints': coords
                });
            });
            return res;
        } else return ['img0', 'img1', 'img2'];
    }

</script>
</body>
</html>